<div mat-dialog-content style="padding: 0px;">
    <h1 mat-dialog-title>Admin Login</h1>
    <div mat-dialog-content>
        <form [formGroup]="AdminForm">
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" value="pass" formControlName="password" matInput placeholder="Password" outline id="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="AdminDetails()">Login</button>
    </div>
</div>