<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h2 class="h5 lined text-white mb-4">Andheri Branch</h2>
          <p style="color: #fff;">505, 5th Floor, Morya Landmark, 1, Off Link Rd, Veera Desai Industrial Estate, Andheri West, Mumbai, Maharashtra 400053</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.2414868977585!2d72.83080597524396!3d19.140903849931615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b71dce9f04e3%3A0x250d70c6cfa8284b!2sKlickIT%20Solutions%20%26%20Services!5e0!3m2!1sen!2sin!4v1688910430297!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h2 class="h5 lined text-white mb-4">Thane Branch</h2>
          <p style="color: #fff;">A303, Malhar Residency, Gokhale Rd, near Gaondevi Mandir, Shivaji Path, Dada Patil Wadi, Naupada, Thane West, Thane, Maharashtra 400602</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.1742685074687!2d72.97154947524488!3d19.187589348459802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b97947427e19%3A0x5a9f0649eff818f2!2sKlickIT%20Solutions%20%26%20Services%20-%20Thane.!5e0!3m2!1sen!2sin!4v1688910740526!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
<br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4 mb-lg-0">
          <ul class="list-inline mb-0">
            <h2 class="h5 lined text-white mb-4">Social Media Links</h2><br>
            <li class="list-inline-item"><a class="social-link" href="https://www.facebook.com/klickitsolutions/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="https://twitter.com/Klickit1?s=20" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="https://klickit.co.in/" target="_blank"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="https://www.instagram.com/klickitsolutions/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrights">       
      <div class="container text-center py-4">
        <p class="mb-0 text-muted">&copy; 2023</p>
      </div>
    </div>
  </footer>