<br><br>
<section class="services2">
  <div class="container text-center">
    <h2 class="text-uppercase lined lined-center">About  <span class="text-primary">Us</span></h2>
  </div>
</section>
<!-- about right  -->
<div class="about-right">
    <div class="container1 container text-center">
      <p> Klick IT Solutions was formed with the the fact that you want and plan to provide 
          fast and cost effective repair solutions for laptops and desktops with a
           timely fashion. In the past period of years, we have established our company as an 
           faultless source to get your electronic devices like Apple, HP, Dell desktops
            and laptops etc.

      </p>
      <div class="address">
          <ul>
              <li>
                  <span class="address-logo">
                      <i class="fas fa-paper-plane"></i>
                  </span>
                  <p>Address : Mumbai, Maharashtra, India</p>
              </li>
              <li>
                  <span class="address-logo">
                      <i class="fas fa-phone"></i>
                  </span>
                  <p>Phone No : 02242939311</p>

              </li>
              <li>
                <span class="address-logo">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <p>Email ID : info@klickit.co.in</p>
              </li>
          </ul>
      </div>
    </div>
</div>
<!-- Service Section-->
  <section class="services" id="serv">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Services</span></h2>
        <p class="text-muted mb-5">Klick IT Solutions & Services is one of the well-known service centers you can visit for all your<br>device related damages be it – laptops, tablets, iphones etc.<br>Dell Service Center & Bose Service Center Apple, HP Laptop Repair, Mumbai.</p>
        <div class="row">
        <!-- Services Item-->
            <div class="col-xl-4 col-md-8 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Shop Products</h2>
                  <div class="services-icon my-4"><mat-icon style="transform: scale(2)">local_mall</mat-icon></div>
                  <p class="services-item-text text-small mb-0">Buy 100 % Genuine Products & Laptop Spare Parts and Much More.</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-4 col-md-8 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Repair & Service</h2>
                  <div class="services-icon my-4"><mat-icon style="transform: scale(2)">build</mat-icon></div>
                  <p class="services-item-text text-small mb-0">Professional Laptop & Iphone Repair services in Mumbai</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-4 col-md-8 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Location</h2>
                  <div class="services-icon my-4"><mat-icon style="transform: scale(2)">location_on</mat-icon></div>
                  <p class="services-item-text text-small mb-0">We Provide Home Pickup & Deliver Services allover Mumbai.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>
  <section class="services1" id="cont">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Any  <span class="text-primary">Query</span></h2>
    </div>
  </section>
  <div class="container container1 text-center">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Mumbai,India</div>
          
        </div>
        <div class="phone details">
          <i class="fas fa-phone"></i>
          <div class="topic">Phone</div>
          <div class="text-one">02242939311</div>
          
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">info@klickit.co.in</div>
          
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any quries related to us, you can send us message from here. It's our pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <textarea type="text" placeholder="Enter your query"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
  </div>
  </div>